/** Globl **/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: #4a4a4a;
  background-color: #eaebec;
}

h3 {
  font-size: 1.3em;
  font-weight: bolder;
  color: #4a4a4a;
}

p, h4 {
  color: rgba(74, 74, 74, 0.7);
}

div {
  display: block;
}

.section a {
  text-decoration: none;
}

.section {
  margin: 0;
}

.section:nth-child(even) {
  background-color: #d8d8d8;
}

/** Navigation and logo section  **/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  background-color: white;
  padding: 0 24px;
}

header .logo {
  display: flex;
  align-items: center;
  height: 32px;
  text-transform: uppercase;
  font-size: 0.755em;
}

header .normal {
  font-weight: normal;
  color: rgba(74, 74, 74, 0.7);
}

nav {
  display: block;
}

nav a {
  text-decoration: none;
  padding: 0 8px;
  font-size: 1em;
  color: #4a4a4a;
}

.mobil-nav {
  display: none;
}

/** mobilefrendly navigation **/

@media screen and (max-width:480px) {
  nav, header .logo {
    display: none;
  }
  header {
    display: flex;
    margin: 0;
    padding: 0;
  }
  .mobil-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

/** section one **/

.content {
  display: flex;
  align-items: center;
}

.content-box-one {
  width: 60%;
  padding: 32px 24px;
}

.content-box-one img {
  width: 100%;
}

.content-column {
  display: block;
}

.content-box-text {
  width: 60%;
  padding-left: 24px;
}

.button {
  color: white;
  background-color: #4a4a4a;
  text-align: center;
  width: 100%;
  padding: 8px 0 8px 0;
}

/** section one mobilefrendly **/

@media screen and (max-width:480px) {
  .content {
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .content-box-one {
    flex-grow: 1;
    padding: 0;
  }
  .content-box-one img {
    width: 100%;
  }
  .content-column {
    display: flex;
    width: auto;
  }
  .content-box-text {
    display: block;
    padding: 0 16px;
    flex-grow: 1;
  }
  .content-box-text h1 {
    padding: 32px 0;
  }
  .content-box-text>p {
    display: block;
  }
  .content-box-text .button {
    margin: 24px 0 32px 0;
  }
}

/** section two **/

.content-wrap {
  display: flex;
}

.content-box-two {
  width: 60%;
  padding: 32px 24px;
}

.content-box-two img {
  width: 100%;
  height: auto;
}

.content-text {
  padding: 32px 0;
  align-items: center;
}

.content-text p {
  padding: 24px 0 0 0;
}

.column {
  width: 40%;
  flex-direction: column;
  margin: 0;
  padding: 32px 0;
  border-left: 1px #4a4a4a solid;
}

.column-box {
  display: flex;
  align-items: center;
  border: 1px #4a4a4a solid;
  margin: 0;
}

.column-box img {
  width: 35%;
  padding: 16px;
}

.column-box-text {
  width: 65%;
}

.column-box-text p {
  padding: 8px 0;
}

img.mobile-img {
  display: none;
}

img.dekstop-img {
  display: block;
}

.column-box:nth-child(1n+3) {
  background-color: #d8d8d8;
}

/** section two mobilefrendly **/

@media screen and (max-width:480px) {
  img.dekstop-img {
    display: none;
  }
  img.mobile-img {
    display: block;
  }
  .content-box-two {
    display: none;
  }
  .content-text {
    display: none;
  }
  .column {
    width: auto;
    flex-grow: 1;
    padding: 0;
    border: none;
    padding: 0 16px;
    border-bottom: 1px rgba(74, 74, 74, 0.5) solid;
  }
  .column-box {
    display: block;
    flex-direction: column;
    border: none;
    flex-grow: 1;
  }
  .column-box img {
    width: 100%;
    padding: 0;
    height: auto;
  }
  .column-box-text p {
    display: block;
  }
  .column-box-text {
    text-align: left;
    width: auto;
    padding: 16px;
  }
  .column-box:nth-child(1) {
    padding: 16px 0 64px 0;
  }
  .column-box:nth-child(2) {
    padding-bottom: 64px;
  }
  .column-box:nth-child(3) {
    background-color: #eaebec;
    padding-bottom: 32px;
  }
}

/** section three **/

#three h1 {
  text-align: center;
  padding: 32px 0;
  font-size: 2em;
}

.container-wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 0 72px 32px 72px;
}

.box-wrap {
  width: 30%;
  background-color: white;
  margin: 0 32px 32px 0;
}

.box-wrap img {
  width: 100%;
  height: auto;
}

.text-wraper {
  padding: 16px 16px 24px 16px;
}

.text-wraper h4 {
  text-transform: uppercase;
  padding: 8px 0;
  font-weight: normal;
}

/** section three mobilefrendly **/

@media screen and (max-width:480px) {
  #three {
    background-color: #eaebec;
  }
  #three h1 {
    padding: 32px 0 16px 0;
  }
  .container-wrap {
    padding: 0;
    padding-bottom: 32px;
    border-bottom: 1px rgba(74, 74, 74, 0.5) solid;
  }
  .container-wrap {
    flex-direction: column;
    width: 100%;
  }
  .box-wrap {
    display: block;
    flex-grow: 1;
    width: auto;
    margin: 0 16px 8px 16px;
    padding: 0;
    background-color: #d8d8d8
  }
  .box-wrap img {
    display: none;
  }
  .text-wraper h4, p {
    display: none;
  }
  .text-wrap {
    padding: 0;
  }
  .text-wrap h3 {
    padding: 16px 16px 24px 16px;
  }
}

/** section four **/

#four h1 {
  text-align: center;
  padding-top: 32px;
  font-size: 2em;
}

.content-box-four {
  width: 60%;
  padding: 32px 24px;
}

.content-box-four video {
  width: 100%;
}

.column-exibit {
  width: 40%;
  flex-direction: column;
  margin: 0;
  padding: 32px 0;
}

.column-box-exibit {
  display: flex;
  align-items: center;
  margin: 0;
}

.column-box-exibit:nth-child(odd) {
  background-color: #d8d8d8;
}

.column-box-exibit img {
  width: 35%;
  height: auto;
  padding: 16px;
}

/** section four mobilefrendly **/

@media screen and (max-width:480px) {
  #four h1 {
    padding: 32px 0 16px 0;
  }
  .content-wrap {
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-bottom: 24px;
  }
  .content-box-four {
    flex-grow: 1;
    padding: 0;
  }
  .content-box-one video {
    width: 100%;
  }
  .column-exibit {
    display: none;
  }
}

/** footer **/

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 64px;
  border-top: 1px #9d9d9d solid;
  color: rgba(74, 74, 74, 0.7);
}

.copyright {
  padding: 16px 24px;
}

.copyright h5 {
  font-weight: 500;
}

nav {
  padding: 16px 24px;
}

footer a {
  font-size: 12px;
  font-weight: 500;
  color: rgba(74, 74, 74, 0.7);
}

/** footer mobilefrendly **/

@media screen and (max-width:480px) {
  footer {
    border: none;
  }
  .copyright {
    padding: 16px 16px;
  }
  footer nav {
    display: none;
  }
}
